/* Add your custom CSS styles here */
body {
    background-color: black;
    color: white; /* Set text color to white for better visibility on a dark background */
  }


.list-group-item i {
  font-size: 24px; 
}
.list-group-item a {
  font-size: 20px;
  padding:20px;
  text-decoration: none;
}

.rounded-column {
  border-radius: 15px;
  /* Add any additional styling for the columns */
  /* For example, you can set a background color or adjust the padding */
  background-color: rgb(19, 18, 18);
  padding: 10px;
  margin-bottom: 10px;
}

.nav-item a{
  font-size:23px;
  color: white;
}
.nav-link i{
  font-size:18px;
  color: white;
  padding: 15px;
}

.media-icons i {
  color: rgb(0, 195, 255);
  padding: 10px;
}
 

.custom-jumbotron {
  background-color: #007bff; /* Change to the desired background color */
  color: #fff; /* Change to the desired text color */
  padding: 30px; /* Adjust padding as needed */
}

.custom-jumbotron h2 {
  font-size: 36px; /* Change to the desired font size for the heading */
}

.custom-jumbotron p {
  font-size: 18px; /* Change to the desired font size for the paragraphs */
}
/* Ensure all carousel images have equal width and height */
.carousel-item img {
width: 100%;
height: 100%;
object-fit: cover; /* This ensures the image fills the container while maintaining aspect ratio */
}

/* Overlay styles */
.carousel-item .overlay {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: rgba(0, 0, 0, 0.5); /* Change the alpha value to adjust the overlay opacity */
}

/* Content styles */
.carousel-content {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
color: #fff; /* Set the color of the content */
}

select#course {
cursor: pointer;
}

select#course option {
cursor: pointer;
}

 /* Set a minimum height for the table */
 .table {
  min-height: 300px;
}
