/* Add your custom CSS styles here */
body {
    background-color: black;
    color: white; /* Set text color to white for better visibility on a dark background */
  }


.list-group-item i {
  font-size: 24px; 
}
.list-group-item a {
  font-size: 20px;
  padding:20px;
  text-decoration: none;
}

.rounded-column {
  border-radius: 15px;
  /* Add any additional styling for the columns */
  /* For example, you can set a background color or adjust the padding */
  background-color: rgb(19, 18, 18);
  padding: 10px;
  margin-bottom: 10px;
}

.nav-item a{
  font-size:23px;
  color: white;
}
.nav-link i{
  font-size:18px;
  color: white;
  padding: 15px;
}

.media-icons i {
  color: rgb(0, 195, 255);
  padding: 10px;
}
 
