<nav class="navbar navbar-expand-md navbar-dark bg-black flex-md-column">
    <!-- Brand/logo -->

    <a class="navbar-brand" href="#">
        <!-- Add styling to the image -->
        <img src="images/logo.png" alt="User Image"
        class="img-fluid" style="max-width:220px;
        border-radius: 3%; margin-left:8%">
    </a>
    <!-- Mobile Menu Icon -->
    <button class="navbar-toggler" type="button"
    data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav flex-md-column">
            <li class="nav-item">
                <a class="nav-link" href="index.php">
                    <i class="fas fa-home me-2"></i>Home
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="display_data.php">
                    <i class="fas fa-message me-2"></i>Students
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="fas fa-search me-2"></i>About
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="fas fa-list-ul me-2"></i>Testimonies
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="fas fa-user me-2"></i>Awards
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="fas fa-bell me-2"></i>Research
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="fas fa-envelope me-2"></i>Projects
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="fas fa-laptop-code me-2"></i>Affliations
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="fas fa-mortar-pestle me-2"></i>More
                </a>
            </li>
        </ul>
    </div>
</nav>